.nvp {
  margin-top: 70px;
  height: 810px;
  width: 220px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  position:fixed;
}
.nvp .Touxiang{
  position:absolute;
  left:35%;
  top:5%;
  height:70px;
  width:70px;
}
.nv {
  position: fixed;
  align-items: center;
  justify-items: center;
  width: 200px;
  top: 120px;
  margin-top:150px;
  text-decoration: none;
  list-style-type: none;

}
/* 个人信息 */
.person{
  display: flex; 
  margin-left:250px;   
  height:900px;
  width:1600px;
}
.person .page{
  border-radius: 16px;
  background: #e9e8e8;
  height:700px;
  margin-left:20px;
  margin-top:150px;
  width: 1400px;
}
.person .page ul li{
  list-style: none;
  font-weight:bolder;
  font-size:40px;
  margin-top:-65px;
}
.jingyan{
  font-weight: bolder;
  position:relative;
  margin-left:95px;
  margin-top:120px;
}
.pr {
  padding: 15px 25px;
  border: unset;
  border-radius: 8px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-bottom:30px;
  margin-left:50px;
  cursor:pointer
 }
 .pr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .pr:hover {
  color: #e8e8e8;
 }
 .pr.act{
  color:#ffffff;
  background-color: #000;
 }
.pr:hover::before {
  width: 100%;
 }
.sli {
  list-style-type: none;
  color: #090909;
  margin-left: 20px;
  padding: 0.7em 1.7em;
  font-size: 18px;
  width: 200px;
  border-radius: 0.5em;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bolder;


}

.sli:hover {
  box-shadow: 8px 8px 16px #ffffff,
    8px 8px 16px #ffffff;
}

.send {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.send span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
  transform: translateX(5em);
}

.send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
