.FriendList {
    height: 658px;
    width: 300px;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
}

.Connect {
    position: relative;

    height: 70px;
    width: 200px;
    border: 0;
    cursor: pointer;
    transition: all 1s;
    font-weight: bolder;
}

.Connect:nth-last-child(1) {
    position: sticky;

    height: 70px;
    width: 200px;
    border-radius: 0 0 0 20px;
    cursor: pointer;
    transition: all 1000ms;
    font-weight: bolder;
}

.Connect:hover {
    background: rgb(201, 201, 201);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.Connect.focus {
    background: rgb(201, 201, 201);
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.25);
}

/* 帮忙的下拉菜单 */
.putMenu {
    position: relative;
    left: -20%;
    top: -230px;
    height: 150px;
    width: 100px;
    text-align: center;
    justify-content: center;
    background: #fff;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    z-index: -500;
}

.putMenu p {
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
    /* bottom:20px; */
    font-size: 16px;
    font-weight: bolder;
    color: #000;
    cursor: pointer;
    top: 20px;
}

.na ul li.act:hover .putMenu {
    animation: hideIndex 0.5s;
    animation-fill-mode: forwards   ;
}

@keyframes hideIndex {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(230px);
    }
}

/* 我的文件 */
.files {
    position: relative;
    margin-left: 50px;
    margin-top: 0px;
    height: 600px;
    width: 1300px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 50;
    border:1px #fff;
}

.fileslist {
    width: 100%;
    border: 10px #fff;
    position: relative;
    top:20px;
    bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.thing{
    display: flex;
    position: relative;
    margin-left:10px;
    height:100px;
    width:70px;
}
.pic{
    margin-left:20px;
    margin-top:50px;
    border-radius: 20px;
    background-size: cover;
    height:200px;    
    transition: 0.5s;
}
.pic:hover{
    transform: scale(0.95);
    cursor:pointer
}
.chatbox{
    display: none;
    position:relative;
    height:80%;
    width:100%;
    display: flex;
    flex-direction:column-reverse;
    text-align: right;
    margin-right:100px;
    margin-bottom: 160px;
    gap:20px;
    /* overflow-y: auto; */
}
.Chatspar{
    border-radius: 20px;

    color:#000000;
    font-weight: bolder;
    transition: all 0.5s;
   left:90%;
   position:relative;
   display: flex;
   width:500px;
   transform:translate(50,50);
}
.Chatspar p{
    background:#f90303;
    position: relative;
    right:0;
    text-align: right;
    max-width:65px;
}