.leave-message {
	max-width: 500px;
	margin-left:80px;
	padding: 20px;
	border-radius: 20px;
}
.sd{
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.25);; */
    margin-left:200px;
    height:60x;
    cursor:pointer;
    position:relative;
    display: flex;
}
h1 {

	margin-bottom: 30px;
}

form label {
	margin-bottom: 10px;
	font-weight: bold;
}

form input, form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 1px solid #ccc;
}

form button {
	display: block;
	margin: 0;
	padding: 10px 20px;
	background-color: #34c2ff;
	color: #fff;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

#messages {
	display: flex;
}
*{
    /* 初始化 取消内外边距 */
    margin: 0;
    padding: 0;
}

/* 倒计时 */
.Countdown {
    position: sticky;
    top: 1000px;
    margin-left: 1200px;
    z-index: 50;
}

.Countdown span {
    position: relative;
    top: -15px;
    color:#fff;
}

.Countdown div {
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #baccd9;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: -12px;
}